
.contact-container{
    background-color: #5987ad;
    width: 100%;
    height: 80%;
    margin-bottom:10px ;
    padding: 9px;
    
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}
label{
    margin-bottom: 1px;
    padding: 10px;
    align-items: center;
}
input, textarea{
    margin-bottom: 10px;
    padding: 10px;
}
button{
    background-color:#007bff ;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}